.mainBack{
	width:100%;
	height:100%;
	min-width:1100px;
	min-height:500px;
	position: absolute;
	.line1{
		position:absolute;
		display:inline-block;
		width:1px;
		height:4.2386%;
		border:0.5px solid #8fcaf4;
	}
	.line2{
		position:absolute;
		display:inline-block;
		height:1px;
		width:36.74%;
		border:0.5px solid #8fcaf4;
	}
	.line3{
		position:absolute;
		display:inline-block;
		width:1px;
		height:13.97%;
		border:0.5px solid #8fcaf4;
	}
	.line4{
		position:absolute;
		display:inline-block;
		width:1px;
		height:16.97%;
		border:0.5px solid #8fcaf4;
	}
	.line5{
		position:absolute;
		display:inline-block;
		width:19.58%;
		height:13.97%;
		border:0.5px solid #8fcaf4;
		border-bottom:none;
	}
	.line6{
		position:absolute;
		display:inline-block;
		width:4.88%;
		height:1px;
		border:0.5px solid #8fcaf4;
		border-bottom:none;
	}
	.line-create{
		position:absolute;
		width:150px;
		color: #8c8c8c;
		text-align: center;
    	display: block;
    	font-family: 宋体;
    	font-size: 9pt;
    	vertical-align: middle;
    	font-weight: bold;
    	font-style: normal;
    	text-decoration: none;
	}
	.line7{
		position:absolute;
		display:inline-block;
		width:9.79%;
		height:5%;
		border:0.5px solid #8fcaf4;
		border-bottom:none;
	}
	.line8{
		position:absolute;
		display:inline-block;
		width:9.78%;
		height:5%;
		border:0.5px solid #8fcaf4;
		border-bottom:none;		
	}
	.line9{
		position:absolute;
		display:inline-block;
		width:1px;
		height:10.97%;
		border:0.5px solid #8fcaf4;
	}
	.line10{
		position:absolute;
		display:inline-block;
		width:19.58%;
		height:13.97%;
		border:0.5px solid #8fcaf4;
		border-bottom:none;	
	}
	.line11{
		position:absolute;
		display:inline-block;
		width:1px;
		height:13.97%;
		border:0.5px solid #8fcaf4;
	}
	.line12{
		position:absolute;
		display:inline-block;
		width:29.37%;
		height:5%;
		border:0.5px solid #8fcaf4;
		border-bottom:none;	
	}
	.line13{
		position:absolute;
		display:inline-block;
		width:9.79%;
		height:5%;
		border:0.5px solid #8fcaf4;
		border-bottom:none;	
	}
	.line14{
		position:absolute;
		display:inline-block;
		width:9.79%;
		height:20%;
		border:0.5px solid #8fcaf4;
		border-bottom:none;	
	}
	.line15{
		position:absolute;
		display:inline-block;
		width:1px;
		height:20%;
		border:0.5px solid #8fcaf4;
		border-bottom:none;	
	}
	.line16{
		position:absolute;
		display:inline-block;
		width:1px;
		height:5%;
		border:0.5px solid #8fcaf4;
		border-bottom:none;	
	}
	.line17{
		position:absolute;
		display:inline-block;
		width:39.17%;
		height:5%;
		border:0.5px solid #8fcaf4;
		border-bottom:none;	
	}
	.line18{
		position:absolute;
		display:inline-block;
		width:1px;
		height:5%;
		border:0.5px solid #8fcaf4;
		border-bottom:none;	
	}
	.line19{
		position:absolute;
		display:inline-block;
		width:1px;
		height:5%;
		border:0.5px solid #8fcaf4;
		border-bottom:none;	
	}
	.operSpan{
		position:absolute;
		display:inline-block;
		color: #8c8c8c;
		width:6px;
		font-size:18px;
	}
	.infoDiv{
		width:100px;
		height:100px;
		position:absolute;
		display:inline-block;
		left:91.28%;
		top:48.98%;
		color:#8e8c8c;
		font-size: 10pt;
		p{
			margin-top:5px;
		}
		.tongqi{
			display:inline-block;
			width:20px;
			height:20px;
			background:#49a9ee;
			border-radius:3px;
			line-height:20px;
		}
		.benqi{
			display:inline-block;
			width:20px;
			height:20px;
			background:#66baf7;
			border-radius:3px;
			line-height:20px;
		}
		.nameSpan{
			display:inline-block;
			line-height:20px;
			margin-left:10px;
			position: absolute;
		}
	}

	.selectDiv{
		position:absolute;
		display:inline-block;
		width:230px;
		top:10px;
		right:10px;
		.jigouDiv{
			display:inline-block;
			width:100%;
			color: #8c8c8c;
    		padding: 5px;

    		

    		.ant-select{
    			color:#cccccc;
    			.ant-select-selection{
				    color: #ffffff;
				    background: rgba(73, 169, 238, 0.3);
				    border-color: #b6f1f8;
    			}
    		}
    		.selectBtn{
    			background: #49a9ee;
			    border: none;
			    color: #ffffff;
			    margin-left: 36px;
    		}
		}
	}

	.loadingBtn{
		position:absolute;
		top:45%;
		left:48%;
	}

	.rangeInput{
	    width: 42px;
	    color: #ffffff;
	    background: rgba(73, 169, 238, 0.3);
	    border-color: #b6f1f8;
	    height: 21px;
	    outline: none;	
    }
}
